<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">
  <head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="<%=csrfToken %>">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
    <style>
      .visually-hidden:not(:focus):not(:active),
      input[type="checkbox"].visually-hidden,
      input[type="radio"].visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
      .form-section {
        // padding-top: 20vh;
      }
      .h-wrap {
          min-height: 100vh;
      }
    </style>
    <title>UsersList</title>
  </head>
  <body>
    <div class="bg-wrap bg-primary">
      <div class="container text-center bg-light h-wrap">
        <div class="row tittle-wrap">
          <h1 class="col-5 mx-auto pt-4">UserList</h1>
        </div>
        <div class="row notify">
            <div class="col-12 mx-auto">
                <% if (typeof errors !== 'undefined') { %> <%-
                include("../notify/error-notify.ejs") %> <% } %> <% if (typeof
                successes !== 'undefined') { %> <%-
                include("../notify/success-notify.ejs") %> <% } %>
            </div>
        </div>
        <section class="row form-section">
           <%- include
            (template) %>
        </section>
      </div>
    </div>
  
  </body>
</html>
